<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            This is where individual polls are displayed, will change so that poll name will lead to poll's page
        </h3>

        <h1>{{ name }}</h1>
        <h3>{{ choice1 }}</h3>
        <h3>{{ choice2 }}</h3>

        <div class="pieDiv">
            <canvas id="pieChart" width="100px" height="100px"></canvas>
        </div>
    </div> 
    <script>

const ctx = document.getElementById('pieChart');
const pieChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: [ "{{choice1}}", "{{choice2}}"],
    datasets: [{
      label: '# of Votes',
      data: [3, 5],
      backgroundColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
      ],
    }],
  },
  options: {
    responsible: false,
  },
});
    </script>
</div>